*{
    box-sizing: border-box;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3, calc(740px / 3));
    gap: 10px;
    grid-template-rows: 25px auto;
    margin: 2% auto;
  }

.grid div {
    background-color: rgb(12, 65, 47);
    counter-increment: counter;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    padding: 4px;
    display: grid;
    align-items: center;
}
 
.grid div::after{
    content: "Element" counter(counter);
}

.grid2 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns:auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 10px;
    margin: 20px auto;
  }
  .grid2 div{
      background-color: black;
      color: white;
  }

  .grid3 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
  }

  .grid3 div{
      background-color: cadetblue;
      display: grid;
      align-items: center;
      justify-content: center;
  }

  .one {
      grid-column: 1 / 5;
      order: 9;
  }
  .two {
      grid-column: 1 / 4;
  }
  .three {
      grid-column: 4 / 5;
  }
  .five {
      grid-column: 2 / 5;
      grid-row: 3 / 6;
  }
  .eight {
      grid-column: 1 / 5;
      order: -1;
  }

  .grid4 {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-content: space-between;
  }

  .grid4 div{
      background-color: cornflowerblue;
      display: grid;
      align-items: center;
      justify-content: center;
      padding: 5px;
      font-weight: bold;
      color: white;
  } 
  