.one {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    border: 5px solid #e91e63;
    border-right-color:transparent ;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.one::before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #03a9f4;
    border-left-color:transparent ;
    z-index: -1;
}
.one::after {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffc107;
    border-bottom-color:transparent ;
    z-index: -2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.one:hover {
    animation-play-state: paused;
}

.two {
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border-radius: 50%;
    border: 5px solid #03a9f4;
    border-bottom-color: transparent;
    position: relative;
    animation-name: spin2;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.two::before {
    content: "";
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffc107;
    border-bottom-color:transparent ;
    z-index: -2;
    animation-delay: 0.3s;
}

.two::after {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-bottom-color:transparent ;
    z-index: -2;
    animation-delay: 0.6s;
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.two:hover {
    animation-play-state: running;
}

.three {
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid black;
    border-left-color: transparent;
    border-radius: 50%;
    margin: 50px auto;
    animation-name: spin3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}