:root {
    --main-color: rgb(255, 117, 53);
    --text-color: white;
    --main-color2:rgb(4, 142, 255);
    --main-color3: rgb(67, 104, 105);
}

body {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.elzero1 {
    width: 150px;
    height: 100px;
    margin: 40px auto;
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
    letter-spacing: 1px;
}

.elzero1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--main-color);
    transform: skew(10deg, 10deg);
    top: 0px;
    left: 0;
    z-index: -1;
}
.elzero1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--main-color);
    transform: skew(-10deg, -10deg);
    top: 0;
    right: 0;
    z-index: -2;
}

.elzero2 {
    width: 150px;
    height: 75px;
    margin: 40px auto;
    background-color: var(--main-color2);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
}

.elzero2::before {
    content: "";
    width: 26px;
    height: 100%;
    background-color: var(--main-color2);
    border-right: 11px solid var(--text-color);
    position: absolute;
    top: 0px;
    left: -1px;
    transform-origin: right bottom;
    transform: skew(20deg, 0deg);
}

/* .class {
    matrix(3, 0.2679, 0, 3, 20, 100);
    transform: scaleX(3px);
    transform: skewX(15px);
    transform: skewY(0);
    transform: scaleY(3px);
    transform: translateX(20px);
    transform: translateY(100px);    
  } */

.elzero3 {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    background-color: var(--main-color3);
    position: relative;
    border-bottom: 5px solid black;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-left: 5px;
    font-weight: bold;
    top: 80px;
    letter-spacing: 1px;
}
.elzero3::before {
    content: "";
    width: 140px;
    height: 140px;
    color: var(--text-color);
    background-color: black;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    position: absolute;
    bottom: 121px;
    left: 27px;
    transform: rotate(45deg);
}
.elzero3::after {
    content: "Adham";
    position: absolute;
    display: flex;
    color: var(--text-color);
}
.elzero4 {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    background-color: #EEE;
    display: flex;
    position: relative;
    transform-style:preserve-3d ;
    transition: transform 0.5s;
}
.elzero4:hover {
    transform: rotateX(-180deg);
}

.elzero4::before{
    content: "Front";background-color: var(--main-color);
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    backface-visibility: hidden;
}

.elzero4::after{
    content: "Back";
    background-color: var(--main-color2);
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    backface-visibility: hidden;
    transform: rotateX(180deg);
}
